@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background: #ffffff;
    --foreground: #171717;
    --scrollbar-color: #555555;
    --scrollbar-display: initial;
}

@media (prefers-color-scheme: dark){
    :root{
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

*{
    box-sizing: border-box;
}

img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    /* user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none; */
}
span{
    user-select: none;
}
p{
    user-select: none;
}

html, body{
    overflow: hidden;
}

body{
    color: var(--foreground);
    /* background: var(--background); */
    background: white;
    font-family: var(--font-oxanium), var(--font-noto-sans-kr), var(--font-noto-sans-jp), Arial, Helvetica, sans-serif;
}

@layer utilities{
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes rotating{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    display: var(--scrollbar-display);
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 4px;
}
/* 
::-webkit-scrollbar-thumb:hover{
    background: var(--scrollbar-color);
} */